<?xml version="1.0" encoding="UTF-8"?>
<!-- Logback Configuration.  -->
<configuration debug="false">

	<!-- 日志级别从大到小：OFF 、 FATAL 、 ERROR 、 WARN 、 INFO 、 DEBUG 、 TRACE 、 ALL -->
	
	<!-- 控制台输出配置——INFO级别 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoding>UTF-8</encoding>
        <filter class="com.alibaba.citrus.logconfig.logback.LevelRangeFilter">
            <levelMax>INFO</levelMax>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern><![CDATA[
%n%-4r [%d{yyyy-MM-dd HH:mm:ss} %X{productionMode}] - %X{method} %X{requestURIWithQueryString} [ip=%X{remoteAddr}, ref=%X{referrer}, ua=%X{userAgent}, sid=%X{cookie.JSESSIONID}]%n  %-5level %logger{35} - %m%n
            ]]></pattern>
        </layout>
    </appender>

	<!-- 控制台输出配置 ——WARN级别 -->
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoding>UTF-8</encoding>
        <filter class="com.alibaba.citrus.logconfig.logback.LevelRangeFilter">
            <levelMin>WARN</levelMin>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern><![CDATA[
%n%-4r [%d{yyyy-MM-dd HH:mm:ss} %X{productionMode}] - %X{method} %X{requestURIWithQueryString} [ip=%X{remoteAddr}, ref=%X{referrer}, ua=%X{userAgent}, sid=%X{cookie.JSESSIONID}]%n  %-5level %logger{35} - %m%n
            ]]></pattern>
        </layout>
    </appender>
    
    <!-- 文件输出配置 ——WARN级别 -->
    <appender name="FILE"  class="ch.qos.logback.core.rolling.RollingFileAppender">   
        <Encoding>UTF-8</Encoding> 
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>/usr/zjm/logs/webxdemo/zjm.log.%d{yyyy-MM-dd}.log</FileNamePattern>   
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>   
        <layout class="ch.qos.logback.classic.PatternLayout">  
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n   
            </pattern>   
        </layout> 
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
        	<MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
        <filter class="com.alibaba.citrus.logconfig.logback.LevelRangeFilter">
            <levelMin>WARN</levelMin>
        </filter>
    </appender>

    <logger name="org.apache">
        <level value="WARN" />
    </logger>

    <logger name="org.springframework">
        <level value="WARN" />
    </logger>

    <logger name="com.alibaba.citrus.springext.support.context">
        <level value="WARN" />
    </logger>
    
    <logger name="org.mybatis.*" level="DEBUG" additivity="false">  
    	<appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.apache.ibatis.*" level="DEBUG" additivity="false">  
    	<appender-ref ref="STDOUT"/>
    </logger>
	<logger name="java.sql.Connection" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT"/>
	</logger>  
	<logger name="java.sql.Statement" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT"/>
	</logger>  
	<logger name="java.sql.PreparedStatement" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT"/>
	</logger>
    
    <root>
        <level value="WARN" />
        <appender-ref ref="STDERR" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
